#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_RELATIVES_CALCULATOR
	bool "Relatives Calculator"
	default n

if LVX_USE_DEMO_RELATIVES_CALCULATOR
	config LVX_REL_CAL_DATA_ROOT
		string "REL CAL Data Root"
		default "/data"
endif
