#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LVX_USE_DEMO_HOURGLASS
	tristate "Hourglass Demo"
	depends on GRAPHICS_LVGL
	default n
	---help---
		Enable build the Light and Versatile Graphics Library Demo programs

if LVX_USE_DEMO_HOURGLASS

config LVX_USE_DEMO_HOURGLASS_PRIORITY
	int "hourglass task priority"
	default 100

config LVX_USE_DEMO_HOURGLASS_STACKSIZE
	int "hourglass stack size"
	default 16384

config LVX_USE_DEMO_HOURGLASS_DEVPATH
	string "Touchscreen device path"
	default "/dev/input0"
	depends on INPUT_TOUCHSCREEN
	---help---
		The path to the touchscreen device. Default: "/dev/input0"

endif # LVX_USE_DEMO_HOURGLASS
