#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_WOODEN_FISH
	bool "Wooden Fish"
	default n
	select LVX_USE_DEMO_UTILS

if LVX_USE_DEMO_WOODEN_FISH
	config LVX_WOODEN_FISH_DATA_ROOT
		string "WOO FIS Data Root"
		default "/data"
endif
