#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config AI_CONVERSATION_DEMO
	bool "AI-chat"
	select MEDIA
	select MEDIA_SERVER
	select LIBUV_EXTENSION
	select LIB_JSONC
	select CRYPTO_MBEDTLS
	select OPENSSL_MBEDTLS_WRAPPER
	select NETUTILS_LIBWEBSOCKETS
	default n

if AI_CONVERSATION_DEMO

config AI_VOLC_PLUGIN
	bool "AI chat volc plugin"
	default n

if AI_VOLC_PLUGIN

config VOLC_PULGIN_API_KEY
	string "volc plugin api key"
	default "API_KEY"

endif # AI_VOLC_PLUGIN

config AI_CONVERSATION_RECORDER_STREAM
	string "AI conversation recorder stream"
	default "Capture"

config AI_CONVERSATION_MUSIC_PATH
	string "AI conversation recorder device"
	default "/data/res/music"

config AI_CONVERSATION_GUI_FONT_PATH
	string "AI conversation GUI font path"
	default "/data/res/fonts"

config AI_CONVERSATION_GUI_ICONS_PATH
	string "AI conversation GUI image path"
	default "/data/res/icons"

config AI_CONVERSATION_GUI_STACKSIZE
	int "AI conversation GUI stack size"
	default 32768

config AI_CONVERSATION_GUI_PRIORITY
	int "AI conversation GUI priority"
	default 100

choice
	prompt "Conversation log level"
	default CONVERSATION_LOG_INFO

config CONVERSATION_LOG_DEBUG
	bool "CONVERSATION_LOG_DEBUG"

config CONVERSATION_LOG_INFO
	bool "CONVERSATION_LOG_INFO"

config CONVERSATION_LOG_WARN
	bool "CONVERSATION_LOG_WARN"

config CONVERSATION_LOG_ERR
	bool "CONVERSATION_LOG_ERR"

config CONVERSATION_LOG_SLIENT
	bool "CONVERSATION_LOG_SLIENT"

endchoice

endif # AI_CONVERSATION_DEMO
